/* Body and structure
-------------------------------------------------- */



/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}



/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
  color: #4281CE;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0 0;
}

.main h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    height: 96px;
    background: #333; 
    width: 320px; 
    margin: 0 auto;
    margin-bottom: 60px;
    color: #4281CE;
    padding-top: 6px;
}
.main p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
}
.main a.btn {
    width: 180px;
}
footer {
    max-width: 800px;
    margin: 70px auto 0;
    text-align: center;
}