parameters:
    level: 0

    paths:
        - %currentWorkingDirectory%/lib
        - %currentWorkingDirectory%/tests

    scanFiles:
        # 引入 *Mixin 类
        - %currentWorkingDirectory%/docs/auto-completion.php

    ignoreErrors:
        - "#^Unsafe usage of new static\\(\\)\\.$#"
