/* 
    Document   : style-ie6
    Created on : 2010-11-8, 15:36:32
    Author     : Twin Huang <twinh@yahoo.cn>
    Description:
        Purpose of the stylesheet follows.
        Link: http://www.qianduan.net/fix-ie6-dont-support-position-fixed-bug.html
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* 修正IE6振动bug */
html, body {
    background-image: url(about:blank);
    background-attachment: fixed;
}

/* 头部固定 */
#ui-top-floating-bar{
    position: absolute;
    bottom: auto;
    top: expression(eval(document.documentElement.scrollTop));
}

/* 底部固定  */
#ui-bottom-floating-botton {
    position: absolute;
    bottom: auto;
    top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}

