@charset "utf-8";
/* 全局配置
----------------------------------*/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,p,blockquote,input,textarea,p,th,td,hr,pre {
    margin: 0;
    padding: 0;
    outline: none;
}
/* 让火狐一直显示右边滚动条 */
html {
    height: 100%;
}
body {
    font-size: 12px;
    margin: 0 auto;
    height: 100%;
    font-family: Helvetica, Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}
/* 修复搜狗浏览器(4.0Chrome内核)样式错误,区别? */
ul {
    margin: 0;
    padding: 0;
}
ol, ul, li {
    list-style: none;
}
table {
    border-spacing: 0;
}
img {
    border: 0;
}
a {
    text-decoration: none;
    outline: 0;
}
/*
保证字体大小一致
宋体    \5B8B\4F53
微软雅黑 \5FAE\8F6F\96C5\9ED1
*/
.ui-widget, .ui-widget-content, .ui-widget .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 12px;
    font-family: Helvetica, Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}

/* 常用样式
----------------------------------*/
.qw-fl {
    float: left;
}
.qw-fr {
    float: right;
}
.qw-c {
    clear: both;
}
.qw-p5 {
    padding: 5px;
}
.qw-m5 {
    margin: 5px;
}
.qw-toolbar {
    font-weight: normal;
    padding: 3px 0 3px 5px;
    border-width: 0 0 0 0;
    overflow: hidden;
    line-height: 20px;
}

/* List
----------------------------------*/
.ui-list .ui-list-content{
    height: auto;
}
.ui-list .ui-list-content dl{
    font-size: 1.2em;
}
.ui-list .ui-list-content dl dt{
    width: 50%;
    float: left;
    padding: .5em 0 .5em 1em;
    border-left: none;
    border-right: none;
    border-top: none;
}
.ui-list .ui-list-content dl dd{
    padding: .5em 0 .5em 1em;
    border-left: none;
    border-right: none;
    border-top: none;
}


/* Theme Switch Page
----------------------------------*/
.ui-image-list{
    padding: 1em;
}
.ui-image-list ul li{
    padding: 1em;
    margin: 1em;
    float: left;
}
.ui-image-list ul li h3{
    padding: 1em;
}
.ui-form .ui-form-content .ui-theme-operation{
    float: left;
    clear: both;
    padding: 1em 0 1em 2em;
}
.ui-line{
    clear: both;
    margin: 5px;
}
.ui-space-10px{
    height: 10px;
}

/* Table
----------------------------------*/
.ui-table{
    padding: 1px;
    width: 100%;
}
.ui-table td, .ui-table th{
    padding: 2px;
    font-weight: normal;
    line-height: 20px;
    font-size: 12px;

    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;

    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid;
}
.ui-table td.ui-state-default{
    text-align: center;
    border-left: none;
    border-top: none;
}
.ui-table .ui-table-header td{
    font-weight: bold;
    text-indent: 6px;
    border-right: none;
    font-size: 14px;
}
/* 2010-05-21 */
.ui-table td a.ui-jqgrid-icon{
    cursor: pointer;
    float: left;
    margin: 2px;
    width: 19px;
    height: 19px;
}
.ui-table td a.ui-jqgrid-icon span{
    display:block;
    margin:1px
}
.ui-table .ui-table-toolbar td{
    text-align: left;
}

.ui-button .ui-button-text {
    font-size: 12px;
    font-weight: normal;
}

#qw-ajax {
    position: absolute;
    top: 0;
    padding: 2px 3px;
    display: none;
}
/* Message
----------------------------------*/
.qw-msg {
    padding: 6px;
}
.qw-msg-icon {
    float: left;
}
.qw-msg-icon span.qw-icon {
    display: block;
    width: 16px;
    height: 16px;
}
.qw-msg-txt {
    margin-left: 24px;
    line-height: 16px;
}
.qw-msg-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    padding: 0px;
    border-top: 0;
}
.qw-msg-box div.ui-dialog-content {
    padding: 4px;
}
.qw-msg-close {
    float: right;
    cursor: pointer;
}

.qw-loading {
    background: url('images/loading.gif') 0 0 no-repeat;
}

/* 修复ie下按钮对应不整齐的问题 */
.ui-operation-field a.ui-button {
    vertical-align: top;
}
* html button.ui-button-text-icon-primary .ui-button-text,
* html button.ui-button-text-icons .ui-button-text {
    padding: .3em 1em .28em 2.1em;
}
*+html button.ui-button-text-icon-primary .ui-button-text,
*+html button.ui-button-text-icons .ui-button-text {
    padding: .4em 1em .2em 2.1em;
}
/* 修复日期选择器不自动隐藏的问题 why? */
#ui-datepicker-div {
    display: none;
}