@charset "utf-8";
/* 全局配置
----------------------------------*/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,p,blockquote,input,textarea,p,th,td,hr,pre {
    margin: 0;
    padding: 0;
    outline: none;
}
/* 让火狐一直显示右边滚动条 */
html {
    overflow-y: scroll;
    height: 100%;
}
body {
    font-size: 12px;
    margin: 0 auto;
    min-width: 1000px;
    height: 100%;
}
/* 修复搜狗浏览器(4.0Chrome内核)样式错误,区别? */
ul {
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style: none;
}
table {
    border-spacing: 0;
}
img {
    border: 0;
}
a {
    text-decoration: none;
    outline: 0;
}
/* 保持大小一致 */
.ui-widget, .ui-widget-content {
    font-size: 12px;
}

/* 常用样式
----------------------------------*/
.qw-fl {
    float: left;
}
.qw-fr {
    float: right;
}
.qw-c {
    clear: both;
}
/* TODO 如何命名 */
.qw-p5 {
    padding: 5px;
}
.qw-m5 {
    margin: 5px;
}
/* 整体布局
----------------------------------*/
.ui-layout-north,
.ui-layout-west,
.ui-layout-center,
.ui-layout-east,
.ui-layout-south {
    border: 0;
}
.ui-state-default-north,
.ui-state-default-south {
    border-width: 1px 0 1px 0;
}

.ui-state-default-west,
.ui-state-default-east {
    border-width: 0 1px 0 1px;
}
.ui-state-active-west {
    border-left: 0;
    border: 0;
}
#ui-west-toggler-closed {
    width: 16px;
    height: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1px;
}

/* 页眉 */
#qw-header {
    clear: both;
    height: 60px;
    width: 100%;
}
#qw-header-left {
    width: 186px;
    vertical-align: top;
}
#qw-logo {
    width: 180px;
    font-weight: bold;
    font-size: 32px;
    background: none;
    border: none;
    float: left;
    overflow: hidden;
}
#qw-logo a img {
    vertical-align: middle;
    margin: 12px 0 0 12px;
    height: 40px;
}
#qw-header-right {
    vertical-align: top;
}
.qw-splitter-content {
    width: 4px;
    height: 100%;
}
#qw-content-box {
    width: auto;
    vertical-align: top;
    padding-bottom: 20px;
    border: 0;
}
/* 页脚 */
#qw-footer {
    width: 100%;
    height: 20px;
    text-align: right;
    line-height: 20px;
    border-left: 0;
    border-right: 0;
    font-weight: normal;
}
#qw-footer-arrow {
    float: right;
    width: 20px;
    margin: 2px 0 0 2px;
    cursor: pointer;
}
#qw-footer-time {
    float: right;
}
#qw-copyright {
    text-align: center;
}
/* west */
#west-menu .ui-accordion-header {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-top: 0;
    border-right: none;
    border-left: none;
}
#west-menu .ui-accordion-header a {
    display: block;
    font-size: 1em;
    padding-top: 4px;
    padding-bottom: 4px;
    /*padding: 5px 0.5em 5px 0.7em;*/
}
#west-menu .ui-accordion-content {
    padding: 0;
}
#west-menu .ui-accordion-content ul li {
    padding: 4px 16px;
}
#west-menu-title {
    line-height: 22px;
    height: 22px;
    text-indent: 4px;
    font-size: 12px;
    border: 0;
}
#ui-west-toggler-open {
    cursor: pointer;
    width: 16px;
    height: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    float: right;
    display: block;
    text-align: center;
    margin: 2px 2px 0 0;
    padding: 0;
    line-height: normal;
}
/* TODO */
div.qw-content-tab{
    padding: 5px;
}
div.qw-content-tab .ui-tabs-panel{
    padding: 15px 10px;
}
#ui-tab-1{
    padding: 5px;
}
.ui-tabs-panel .ui-jqgrid .ui-jqgrid-top{
    float: right;
    margin-right: 20px;
}

/* List
----------------------------------*/
.ui-list .ui-list-content{
    height: auto;
}
.ui-list .ui-list-content dl{
    font-size: 1.2em;
}
.ui-list .ui-list-content dl dt{
    width: 50%;
    float: left;
    padding: .5em 0 .5em 1em;
    border-left: none;
    border-right: none;
    border-top: none;
}
.ui-list .ui-list-content dl dd{
    padding: .5em 0 .5em 1em;
    border-left: none;
    border-right: none;
    border-top: none;
}

.ui-view-message{
    padding: .2em;
}

/* Theme Switch Page
----------------------------------*/
.ui-image-list{
    padding: 1em;
}
.ui-image-list ul li{
    padding: 1em;
    margin: 1em;
    float: left;
}
.ui-image-list ul li h3{
    padding: 1em;
}
.ui-form .ui-form-content .ui-theme-operation{
    float: left;
    clear: both;
    padding: 1em 0 1em 2em;
}
.ui-line{
    clear: both;
    margin: 5px;
}
.ui-space-10px{
    height: 10px;
}

/* Table
----------------------------------*/
.ui-table{
    padding: 1px;
    width: 100%;
}
.ui-table td, .ui-table th{
    padding: 2px;
    font-weight: normal;
    line-height: 20px;
    font-size: 12px;

    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;

    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid;
}
.ui-table td.ui-state-default{
    text-align: center;
    border-left: none;
    border-top: none;
}
.ui-table .ui-table-header td{
    font-weight: bold;
    text-indent: 6px;
    border-right: none;
    font-size: 14px;
}
/* 2010-05-21 */
.ui-table td a.ui-jqgrid-icon{
    cursor: pointer;
    float: left;
    margin: 2px;
    width: 19px;
    height: 19px;
}
.ui-table td a.ui-jqgrid-icon span{
    display:block;
    margin:1px
}
.ui-table .ui-table-toolbar td{
    text-align: left;
}

#ui-popup {
    padding: 0;
}
#ui-jqgrid-table{
    width: 600px;
}

#ui-popup-main #gbox_ui-jqgrid-table{
    -moz-border-radius: 0;
    border-top: none;
}

.ui-popup-content .ui-widget-header{
    border-bottom: none;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-button .ui-button-text {
    font-size: 12px;
    font-weight: normal;
}
.ui-jqgrid-top {
    margin-left: 30px;
}

#qw-ajax {
    position: absolute;
    top: 0;
    padding: 2px 3px;
    display: none;
}
/* Message
----------------------------------*/
.qw-msg {
    padding: 6px;
}
.qw-msg-icon {
    float: left;
}
.qw-msg-icon span.qw-icon {
    display: block;
    width: 16px;
    height: 16px;
}
.qw-msg-txt {
    margin-left: 24px;
    line-height: 16px;
}
.qw-msg-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    padding: 0px;
    border-top: 0;
}
.qw-msg-box div.ui-dialog-content {
    padding: 4px;
}
.qw-msg-close {
    float: right;
    cursor: pointer;
}

.qw-loading {
    background: url('images/loading.gif') 0 0 no-repeat;
}
.qw-popup-iframe {
    overflow-x: hidden;
}
/*
background-repeat: no-repeat;}
.qw-icon-address-16{background-image:url(address_16.png)}
*/
/* 修复ie下按钮对应不整齐的问题 */
.ui-operation-field a.ui-button {
    vertical-align: top;
}
* html button.ui-button-text-icon-primary .ui-button-text,
* html button.ui-button-text-icons .ui-button-text {
    padding: .3em 1em .28em 2.1em;
}
*+html button.ui-button-text-icon-primary .ui-button-text,
*+html button.ui-button-text-icons .ui-button-text {
    padding: .4em 1em .2em 2.1em;
}
/* 修复日期选择器不自动隐藏的问题 why? */
#ui-datepicker-div {
    display: none;
}