/* 
    Document   : style-ie6
    Created on : 2010-11-8, 15:36:32
    Author     : Twin Huang <twinh@yahoo.cn>
    Description:
        Purpose of the stylesheet follows.
        Link: http://www.qianduan.net/fix-ie6-dont-support-position-fixed-bug.html
*/

/* 修正IE6振动bug */
html, body {
    background-image: url(about:blank);
    background-attachment: fixed;
}
