.ui-line{
	padding:.15em;
}
.ui-login-panel{
	width:400px;
	margin:4em auto
}

.ui-form .ui-form-content form{
	padding: .8em;
}
.login-input input {
    width:160px;
    padding:.4em 0 .4em .5em;/* for ie & ff */
    line-height:1.5em;/* for ie */
    font-weight:normal;
}
.login-label{
    margin-right:5px;
    margin-top:.1em;
	text-align:right;
}
.ui-form .ui-form-content .ui-login-operation{
    clear: both;
	margin:0;
}
.ui-form .ui-form-content .ui-field-common{
    width: auto;
}
#login-captcha{
    cursor: pointer;
}