@charset "utf-8";
/* Basic
----------------------------------*/
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td, hr {
    margin: 0;
    padding: 0;
}
/* 让火狐一直显示右边滚动条 */
html{
    overflow-y: scroll;
}
body{
    font-size: 12px;
    margin: 0 auto;
    min-width: 900px;
}
li{
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}

/* 常用样式
----------------------------------*/
.clear{
    clear: both;
}

/* 页顶浮动栏
----------------------------------*/
#ui-top-floating-bar{
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    border-left: none;
    border-right: none;
}

/* http://chrisjean.com/2009/09/30/fix-width-auto-floated-elements-in-ie-6/ */
#ui-top-floating-bar ul li {
    float: left;
    white-space: nowrap;
    margin: 5px 5px 0 5px;
    width: auto;
    _width: 0;
}
#ui-top-floating-bar ul li a {
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
}
#ui-top-floating-bar ul li ul{
    display: none;
    position: absolute;
    z-index: 999;
}
#ui-top-floating-bar ul li ul li{
    clear: both;
    margin: 0;
    width: 100%;
}

/* 页底浮动栏
----------------------------------*/
#ui-bottom-floating-botton{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}


/* Navigation Bar
----------------------------------*/
div.ui-navigation-bar{
    -moz-border-radius:0;
    -webkit-border-radius:0;
    padding:.2em 0;
    border-left:0;
    border-right:0;
}
div.ui-navigation-bar .ui-tabs-nav{
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-left:0;
    border-right:0;
    padding-left: 10px;
}
.ui-navigation-bar ul li a{
     cursor:pointer;
}
div.ui-navigation-bar .ui-tabs-panel {
    padding: 3px;
    height: 16px;
    margin-left: 16px;
}
.ui-navigation-bar .ui-tabs-panel a{
    font-size: 12px;
    padding: 3px 8px;
}
.ui-navigation-bar .ui-tabs-panel a:hover{
    border:none;
    font-weight:normal;
}
.ui-navigation-bar .ui-tabs-nav li.ui-tabs-selected a,
.ui-navigation-bar .ui-tabs-nav li.ui-state-disabled a,
.ui-navigation-bar .ui-tabs-nav li.ui-state-processing a {
    cursor:pointer;
}


/* Header
----------------------------------*/
.ui-header{
    clear: both;
}
div.ui-header-logo{
    margin: 10px 0 8px 21px;
    font-weight: bold;
    font-size: 32px;
    background: none;
    border: none;
    float: left;
}
.ui-header-logo a img{
    vertical-align: middle;
}
.ui-header-logo a sup{
    font-size: 12px;
}
.ui-header-shortcut{
    float: right;
    margin: 0 0 20px 6px;
}
.ui-header .ui-header-shortcut a{
    padding: 6px 12px;
    display: block;
    float: left;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    height:  14px;
    border-top: none;
}
.ui-header-shortcut a.ui-header-shortcut-last-anchor{
    border-right: none;
}

/* Sidebar
----------------------------------*/
/* 修复在 Dot Luv 主题下,Sidebar 出现y滚动条的问题 */
.ui-siderbar .ui-box-content ul {
    margin: 1px;
    overflow-y: hidden;
}
.ui-siderbar{
    width: 186px;
}
.ui-siderbar .ui-box-content .ui-sidebar-list {
    padding:0 1px 3px 6px;
    font-weight:normal;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.ui-siderbar ul li a{
    display: block;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    padding: 3px 3px 0 3px;
    text-align: left;
}

#ui-main-table{
    width: 100%;
    padding: 0 8px;
    margin: 8px 0 0;
}
#ui-main-left{
    width: 200px;
    vertical-align: top;
}
#ui-main-right{
    width: auto;
    vertical-align: top;
}

/* Main
----------------------------------*/
.ui-main{
    margin: 0 auto;
    border: none;
}

/* Footer
----------------------------------*/
.ui-footer{
    background: none;
    border: none;
}
.ui-copyright {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    clear: both;
}
.ui-copyright a {
    font-weight: bold;
}
div.ui-copyright{
    background: none;
    border: none;
    font-weight: normal;
}
/* Box
----------------------------------*/
.ui-box{
    margin-bottom: 5px;
    padding: 2px 4px 2px 2px;
}
.ui-box .ui-box-titlebar {
    position: relative;
    width: 100%;
}
.ui-box .ui-box-title{
    float: left;
    padding: 5px 18px 3px 7px;
    font-size: 14px;
    display: block;
}
.ui-box .ui-box-title-icon{
    position: absolute;
    right: 3px;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
    cursor: pointer;
}
.ui-box .ui-box-title-icon span{
    display: block;
    margin: 1px;
}
.ui-box .ui-box-title-icon:hover, .ui-box .ui-box-title-icon:focus{
    padding: 0;
}
.ui-box .ui-box-content{
    border: 0;
    background: none;
    overflow: auto;
}

/* Form (Add, Edit Action & Show Action)
----------------------------------*/
.ui-form-error-message{
    padding: 4px 4px 4.8px 4px;
    vertical-align: text-bottom
}
.ui-operation-field{
    padding: 5px;
}
.ui-operation-field-top{
    margin: 10px 0 0;
}
.ui-operation-field-bottom{
    margin: 0 0 10px;
}
.ui-operation-field-all{
    margin: 10px 0;
}
.ui-operation-content{
    margin: 20px 5px;
}
.ui-form{
    width: auto;
}
.ui-form .ui-form-content{
    padding: 15px;
}

/* input: hidden 的行 */
.ui-form .ui-form-content .ui-block-hidden,
.ui-form .ui-form-content .ui-block-custom {
    display: none;
}
.ui-form .ui-form-content .ui-block-common .ui-label-common,
.ui-form .ui-form-content .ui-block-common .ui-field-state,
.ui-form .ui-form-content .ui-block-common .ui-field-common,
.ui-form .ui-form-content .ui-block-common .ui-icon-common
{
    float: left;
}
.ui-form .ui-form-content fieldset {
    margin: 5px;
    padding-left: 5px;
    background: none;
}
.ui-form .ui-form-content legend {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    padding: 0 3px;
    cursor: pointer;
    background: none;
    border: 0;
}

.ui-form .ui-form-content .ui-field-data-common {
    line-height: 20px;
}
.ui-form .ui-form-content .ui-field-common input {
    margin-right: 5px;
}
.ui-form .ui-form-content .ui-field-common label {
    /*margin-right: 5px;*/
    margin-top: 3px;
}
/* 防止ck编辑器下部变形 */
.cke_editor .cke_contents fieldset{ 
    margin: 0;
}

/* Tables in the Form
----------------------------------*/
.ui-form-table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2px 0 20px;
}
.ui-form-table td{
    padding: 2px;
    font-weight: normal;
    line-height: 20px;
}
.ui-form-table .ui-label-common{
    text-align: right;

}
.ui-form-table .ui-field-text input,
.ui-form-table .ui-field-password input{
    width: 60%;
    padding: 4px 0 4px 5px;/* for ie & ff */
    line-height: 15px;/* for ie */
    font-weight:normal;
    vertical-align: bottom;
}
.ui-form-table .ui-field-text-small input{
	width: 22%;
}
.ui-form-table .ui-field-checkbox input,
.ui-form-table .ui-field-radio input {
    margin-top: 4px;
}
.ui-form-table .ui-field-select select {
    width: 61%;
    height: 24px;
    line-height: 24px;
    padding: 2px 0 0;
}
.ui-form-table .ui-field-textarea textarea{
    width: 59.6%;
    height: 8em;
    line-height: 2em;
    padding: .2em .4em;
    font-weight: normal;
    overflow-y: auto;
    vertical-align: bottom;
}
.ui-form-table .ui-field-common button{
    vertical-align: bottom;
}
.ui-form-table .ui-field-common button .ui-button-text{
    padding: 0.4em 0.4em;
}
.ui-form-table .ui-field-common label.error {
    cursor:pointer;
    display:inline-block;
    margin-right:0.1em;
    overflow:visible;
    padding:0;
    position:relative;
    text-align:center;
    text-decoration:none !important;
}

/* List
----------------------------------*/
.ui-list .ui-list-content{
    height: auto;
}
.ui-list .ui-list-content dl{
    font-size: 1.2em;
}
.ui-list .ui-list-content dl dt{
    width: 50%;
    float: left;
    padding: .5em 0 .5em 1em;
    border-left: none;
    border-right: none;
    border-top: none;
}
.ui-list .ui-list-content dl dd{
    padding: .5em 0 .5em 1em;
    border-left: none;
    border-right: none;
    border-top: none;
}

.ui-view-message{
    padding: .2em;
}

/* Error Box
----------------------------------*/
.ui-error-box{
    width: auto;
}
.ui-error-box .ui-error-box-content{
    padding: 2em;
}

/* Message
----------------------------------*/
.ui-message-content{ padding:  2em;}
.ui-message-content p{
    padding:  .8em;
    line-height: 1.4em;
}
.ui-message-content p span{
    float: left;
}
.ui-message-operation{
    padding: 1em;
    text-align: right;
}

/* Theme Switch Page
----------------------------------*/
.ui-image-list{
    padding: 1em;
}
.ui-image-list ul li{
    padding: 1em;
    margin: 1em;
    float: left;
}
.ui-image-list ul li h3{
    padding: 1em;
}
.ui-form .ui-form-content .ui-theme-operation{
    float: left;
    clear: both;
    padding: 1em 0 1em 2em;
}
.ui-line{
    clear: both;
    margin: 5px;
}
.ui-space-10px{
    height: 10px;
}

/* Table
----------------------------------*/
.ui-table{
    padding: 1px;
    width: 100%;
}
.ui-table td{
    padding: 2px;
    font-weight: normal;
    line-height: 20px;
    font-size: 12px;

    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;

    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid;
}
.ui-table td.ui-state-default{
    text-align: center;
    border-left: none;
    border-top: none;
}
.ui-table .ui-table-header td{
    font-weight: bold;
    text-indent: 6px;
    border-right: none;
    font-size: 14px;
}
/* 2010-05-21 */
.ui-table td a.ui-jqgrid-icon{
    cursor: pointer;
    float: left;
    margin: 2px;
    width: 19px;
    height: 19px;
}
.ui-table td a.ui-jqgrid-icon span{
    display:block;
    margin:1px
}
.ui-table .ui-table-toolbar td{
    text-align: left;
}

#ui-popup {
	padding: 0;
}
#ui-jqgrid-table{
	width: 600px;
}

#ui-popup-main #gbox_ui-jqgrid-table{
    -moz-border-radius: 0;
    border-top: none;
}

.ui-popup-content .ui-widget-header{
    border-bottom: none;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-button .ui-button-text {
    font-size: 12px;
    font-weight: normal;
}
.qw-icon-plus{
	background: url(./../../resource/image/plus_16.png) 0 0 no-repeat;
    width: 16px; height: 16px;
    display: block;
    text-indent:-99999px;
    overflow: hidden;
    float: left;
    margin: 4px;
}