html, body, #qw-main {
    height: 100%;
}
#qw-login-form table {
    padding-top: 10px;
    padding-bottom: 10px;
}
#qw-login-form td{
    padding: 4px;
}
.qw-login {
    vertical-align: top;
}
.qw-login-panel {
    width: 400px;
    margin: 60px auto
}

.qw-login-panel h3 {
    padding: 6px 6px;
    font-size: 14px;
    font-weight: normal;
}
.qw-login-content {
    border-top: 0;
}
.qw-login-input input {
    width:160px;
    padding:.4em 0 .4em .5em;/* for ie & ff */
    line-height:1.5em;/* for ie */
    font-weight:normal;
}
.qw-login-label{
    margin-right:5px;
    margin-top:.1em;
    text-align:right;
}
.qw-login-operation input.ui-state-default {
    font-weight: normal;
}